

   <div class="project-settings-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">ClipBox Settings</h1>
    </div>
    <div class="modal-body">
           <table style="width:100%">
               <tbody>
                   <tr>
                       <td style="width:20%" class="text-right">Max. Entries</td>
                       <td style="width:80%" ><input style="width:90%"  type="text" class="form-control" id="max-entries" placeholder="Maximum number of history entries"></td>
                   </tr>
                   <tr>
                       <td style="width:20%" class="text-right">QuickOpen Shortcut</td>
                       <td style="width:80%"><input style="width:90%" type="text" class="form-control" id="qopen-shortcut" placeholder="Shortcut keys to open history box (Ctrl-Alt-V)"></td>
                   </tr>
                   <tr>
                       <td style="width:20%" class="text-right">Clear Shortcut</td>
                       <td style="width:80%"><input style="width:90%" type="text" class="form-control" id="clear-shortcut" placeholder="Shortcut keys to clear history (Ctrl-Alt-E)"></td>
                   </tr>
               </tbody>
           </table>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn" data-button-id="cancel">Cancel</button>
        <button class="dialog-button btn primary" data-button-id="ok">Done</button>
    </div>
</div>
