

   <div class="project-settings-dialog modal">
    <div class="modal-header">
        <h1 class="dialog-title">{{ DLG_TITLE }}</h1>
    </div>
    <div class="modal-body">
           <table>
               <tbody>
                   <tr>
                       <td class="col1 text-right">{{ DLG_LBL_ENTRIES }}</td>
                       <td class="col2" ><input type="text" class="dfield form-control" id="max-entries" placeholder="{{ DLG_PLH_ENTRIES }}"></td>
                   </tr>
                   <tr>
                       <td class="col1 caption text-right">{{ DLG_LBL_QKOPEN }}</td>
                       <td class="col2"><input type="text" class="dfield input form-control" id="qopen-shortcut" placeholder="{{ DLG_PLH_QKOPEN }}"></td>
                   </tr>
                   <tr>
                       <td class="col1 caption text-right">{{ DLG_LBL_CLEAR }}</td>
                       <td class="col2"><input type="text" class="dfield input form-control" id="clear-shortcut" placeholder="{{ DLG_PLH_CLEAR }}"></td>
                   </tr>
               </tbody>
           </table>
    </div>
    <div class="modal-footer">
        <button class="dialog-button btn" data-button-id="cancel">{{ DLG_CMD_CANCEL }}</button>
        <button class="dialog-button btn primary" data-button-id="ok">{{ DLG_CMD_SAVE }}</button>
    </div>
</div>
